<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="modal-body">
                <h2>{{ post.title }}</h2>
                <hr class="star-primary">
                <div class="row">
                    {% if post.images %}
                    <div class="galleria col-md-8">
                        {% for image in post.images %}
                        <img src="{{image.url}}"> 
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="col-md-3">
                        <span class="home-property col-md-12">
                                <i class="flaticon-sleeping"></i> {{post.bedroom}}
                            </span>
                        <span class="home-property col-md-12">
                                <i class="flaticon-furniture41"></i> {{post.bathroom}}
                            </span>
                        <span class="home-property col-md-12">
                                <i class="flaticon-bath2"></i> {{post.livingroom}}
                            </span>
                        <span class="home-property col-md-12">
                                <i class="flaticon-automobile1"></i> {{post.parking}}
                            </span>
                        <hr class="star-primary">
                        <span>Floor Area: {{post.floorarea}}m²</span>
                    </div>
                </div>
                <div class="row">
                    {% for paragraph in post.description %}
                        {{paragraph | markdownify}}
                    {% endfor %}
                </div>
            </div>
            <button type="button" class="btn btn-default col-md-2 col-md-offset-5" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
        </div>
    </div>
</div>
{% endfor %}
